html,
body {
  font-family: "Arial", sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  min-height: 100%; /* Ensure body stretches to at least full height */
}

.container {
  width: 90%; /* Adjust container width */
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 2.5em;
  color: #333;
}

.search-bar {
  margin-top: 20px;
}

.search-bar input {
  padding: 10px;
  font-size: 1.2em;
  width: 80%;
  max-width: 500px;
  border: 2px solid #333;
  border-radius: 5px;
}

#search:focus {
  outline: none;
  border-color: #007bff;
}
.add-link {
  margin-top: 20px;
}

.add-link input {
  margin-top: 8px;
  padding: 10px;
  font-size: 1.2em;
  width: 70%;
  max-width: 400px;
  border: 2px solid #333;
  border-radius: 5px;
}

.add-link button {
  margin-top: 8px;
  padding: 12px;
  font-size: 1.2em;
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* .add-link button:hover {
  background: hsl(109, 77%, 24%);
} */

main {
  flex: 1;
  text-align: center;
  overflow-y: auto; /* Allow main content to scroll */
  margin-bottom: 200px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-item {
  background: #fff;
  color: #333;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.link-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


.link-item a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
}

.favorite-button {
  margin-left: auto;
  padding: 5px;
  background: #ffcc00;
  border: none;
  cursor: pointer;
}

#new-link:focus {
  outline: none;
  border-color: #007bff;
}

#new-name:focus {
  outline: none;
  border-color: #007bff;
}

#new-category {
  margin-top: 8px;
  padding: 14px 35px 11px 10px;
  font-size: 1em;
  border: 2px solid #333;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff url("images/Down\ Arrow.png") no-repeat left 12px center;
  background-size: 20px;
  background-position-x: calc(100% - 15px);
  cursor: pointer;
}

#new-category:focus {
  outline: none;
  border-color: #007bff;
}

#new-category option {
  background-color: #fff;
  color: #333;
}

footer {
  /*updated footer*/
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  flex-shrink: 0; /* Prevent footer from growing */
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -10px 20px white;
}

footer a {
  color: #5f7fff;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Styles for the tutorial button */
#tutorial-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #5f7fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2000;
  transition: 0.3s ease;
}

#tutorial-video {
  width: 70vw;
  height: calc(70vw * 9 / 16); /* Maintain 16:9 aspect ratio */
  max-width: 100%;
  max-height: 100%;
}


/* Add styles for glowing effect */
.glow {
  animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% {
    background-color: #000000;
    box-shadow: 0 0 10px #5f7fff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  }
  50% {
    background-color: #000000;
    box-shadow: 0 0 20px #5386ff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  }

  100% {
    background-color: #000000;
    box-shadow: 0 0 10px #5f7fff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  }
}


@media (hover: hover) {

  .link-item:hover {
    background: #000000;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .link-item:hover a {
    color: #fff;
    text-decoration: underline;
    transition: all 0.3s ease;
  }
  
  #new-category:hover {
    background: #fff url("images/Down\ Arrow.gif") no-repeat left 12px center;
    background-size: 20px;
    background-position-x: calc(100% - 15px);
  }
  
  footer a:hover {
    color: #a0b2fd;
  }

  #tutorial-button:hover {
    padding: 12px 22px;
    border-radius: 10px;
    background-color: #465db6;
  }
}


@media (max-width: 600px) {
  .link-item {
    width: 100%;
    text-align: center;
  }
  #tutorial-button {
    font-size: 14px;
    padding: 8px 16px;
  }
  #tutorial-video {
    width: 90vw;
    height: calc(90vw * 9 / 16); /* Maintain 16:9 aspect ratio */
  }

  #tutorial-button:hover {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #5f7fff;
  }

  footer {
    /*updated footer*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-shrink: 0; /* Prevent footer from growing */
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
}