html, body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 100%; /* Ensure body stretches to at least full height */
}

.container {
    width: 90%; /* Adjust container width */
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 1.2em;
    width: 80%;
    max-width: 500px;
    border: 2px solid #333;
    border-radius: 5px;
}

.add-link {
    margin-top: 20px;
}

.add-link input {
    padding: 10px;
    font-size: 1.2em;
    width: 70%;
    max-width: 400px;
    border: 2px solid #333;
    border-radius: 5px;
}

.add-link button {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.add-link button:hover {
    background: hsl(109, 77%, 24%);
}

main {
    flex: 1;
    text-align: center;
    overflow-y: auto; /* Allow main content to scroll */
    margin-bottom: 200px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-item {
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.link-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.link-item:hover {
    background: #000000;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.link-item:hover a {
    color: #fff;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.link-item a {
    color: black;
    text-decoration: none;
}

.favorite-button {
    margin-left: auto;
    padding: 5px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .link-item {
        width: 100%;
        text-align: center;
    }
}

#new-category {
    padding: 10px 35px 10px 10px;
    font-size: 1em;
    border: 2px solid #333;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url('images/Down\ Arrow.png') no-repeat left 12px center;
    background-size: 20px;
    background-position-x: calc(100% - 15px);
    cursor: pointer;
}

#new-category:hover {
    background: #fff url('images/Down\ Arrow.gif') no-repeat left 12px center;
    background-size: 20px;
    background-position-x: calc(100% - 15px);
}

#new-category:focus {
    outline: none;
    border-color: #007BFF;
}

#new-category option {
    background-color: #fff;
    color: #333;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-shrink: 0; /* Prevent footer from growing */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


footer a {
    color: #b4dae7;
}